@model BugsMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Gestión de cuenta";
}

<h3>
    @ViewBag.Title
    <small>Gestione los datos de su cuenta</small>
</h3>


<p class="text-success">@ViewBag.StatusMessage</p>
<div class="panel panel-default">
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Email:</dt>
            <dd>
                [@Html.ActionLink("Cambiar Email", "ChangeEmail")]
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Contraseña:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Cambiar la Contraseña", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Crear", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>
