@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="cam-title mrg-r344">
    <span>
        Ha ocurrido un error.
    </span>
</h1>
<div class="row">
    <div class="col-xs-8">
        <div>
            <p>Contáctese con el administrador del sistema, lo solucionaremos a la brevedad.</p>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>
