@model BugsMVC.Models.StockViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Editar
    <small>Editar stock.</small>
</h3>

@Html.Partial("ViewUser", @Model)