@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Página no encontrada";
    Layout = "";
}

<h1 class="cam-title mrg-r344">
    <span>
        Página no encontrada.
    </span>
</h1>
<div class="row">
    <div class="col-xs-8">
        <div>
            <p>Se ha quitado el recurso que está buscando, se le ha cambiado el nombre o no está disponible en estos momentos.</p>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>
