@media (max-width: 800px) {
    .display-block {
        display: block!important;
    }

    .operatorname{
        color: black;
    }

    .display-none{
        display: none!important;
    }

    .width-100p{
        width: 100%;
    }
}