@model BugsMVC.Models.MarcaModelo
@using BugsMVC.Helpers

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Detalles
    <small>Detalles de la marca seleccionada.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading">Marca</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MarcaModeloNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MarcaModeloNombre)
            </dd>

        </dl>
    </div>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", "MarcaModelo", new { id = Model.MarcaModeloID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Volver", "Index", "MarcaModelo", null, new { @class = "btn btn-default" })
</p>
