@model BugsMVC.Models.UsuarioViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Editar
    <small>Editar los datos del consumidor.</small>
</h3>

@Html.Partial("ViewUser", @Model)