#pageHeader {
    display: none;
}

@media all {
	.page-break	{ display: none; }
}


@media print {
    h3,
    .report-filters,
    .panel-heading {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
    }

    thead, tfoot { display: table-row-group }

    .salto { 
        page-break-before: always;
        break-before: always;
    }

    div.report-panel{
        /*border:none !important;*/
    }

    div.report-panel .panel-body {
        margin: 5px !important;
    }

    div.page-break {
        display: block; 
        page-break-after: always;
        -webkit-column-break-after: always;
    }

    div.pageElement.hidden {
        display:block!important;
    }

    div.pager {
        display:none;
    }

}
