/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

.texto-consumidor{
        min-height: 63px !important;
        min-width: 136px !important;
}

@media screen and (max-width:1200px)
{
    .texto-consumidor{
        min-height: 40px !important;
        min-width: 136px !important;
}
}



.icono-plus {
    font-size: 14px; 
    color: #c1c2c3;
}


/* Set width on the form input elements since they're 100% wide by default */
#zonasContainer input,
#zonasContainer select{
    max-width: 280px;
}

div.form-horizontal.details .zonaContainer {
    width: 700px;
}

    div.form-horizontal.details .zonaContainer .col-md-10 {
        float: right;
        width: auto;
    }

    div.form-horizontal.details .zonaContainer .form-group {
        margin-left: 15px;
    }


/*Reportes - Informes*/
.report-title {
    text-align: center;
}

.report-table-container thead th {
    text-align: center;
}

div.report-panel .panel-body {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 0;
}

div.report-title, div.report-header > div {
    border-bottom: 1px solid #ddd;
}

div.report-header .table {
    margin-bottom: 0px;
}

div.report-header .report-signature-container > div {
    text-align: center;
}

div.report-header div.report-signature .table {
    text-align: center;
    width: 480px;
    margin-top: 50px;
    float: right;
    border-collapse: separate;
    border-spacing: 10px 0px;
}

    div.report-header div.report-signature .table td {
        border-top: 1px solid #ddd;
    }

div.report-header .table > thead > tr > th,
div.report-header .table > tbody > tr > th,
div.report-header .table > tfoot > tr > th,
div.report-header .table > thead > tr > td,
div.report-header .table > tbody > tr > td,
div.report-header .table > tfoot > tr > td {
    border-top: none;
}


/*div.dataTables_scrollFootInner th input.form-control.input-sm.datatable_input_col_search
{
    width:100%;
}*/

/*th, td { white-space: nowrap; }*/

/*div.dataTables_wrapper {
        width: 1000px;
        margin: 0 auto;
    }*/

.ui-jqgrid tr.ui-row-ltr td {
    background-color: inherit;
    border-bottom-color: #edf1f2;
    border-left-color: #edf1f2;
    border-right: 1px solid #edf1f2;
    border-top-color: #edf1f2;
    text-align: left;
}

table tr.alarmaBajoON {
    background-color: #ff6a00;
}

.content-wrapper {
    padding-bottom: 0px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color:#FFFFFF !important;
}

.btn-print{
    margin: 5px 0px !important;
}

table.ui-jqgrid-btable tr.jqgfirstrow td { border: none; }

table.ui-jqgrid-btable { height: 1px; }

.operator-name
{
    float: none !important;
    text-align: center;
    margin-top: 4px !important;
    color: #ffffff;
}

.operator-name h4
{
    font-size: 24px;
}

.operator-selector
{
    margin-top: 8px;
}

.p-r-5
{
    padding-right: 5px;
}

.p-l-5
{
    padding-left: 5px;
}

.cursor-pointer{
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    /*appearance: none;*/
    margin: 0; 
}

table tr.maquinaSinConexion {
    /*background-color: #F4A460;*/
    background-color: red;
    color:black;
}

table tr.maquinaInactiva {
    background-color: #ff6a00;
    color:black;
}

.field-separator {
    width: 50%;
    min-width: 280px;
    max-width: 480px;
    margin-left: 20px;
    /* padding-top: 10px; */
    margin-bottom: 20px;
    border-bottom: #c7c7c7 solid 1px;
}

.filter-help-text {
    font-size: 12px;
    font-weight:lighter;
    color: #909fa7;
    float:right;
}

@media screen and (max-width: 992px) {
    .field-separator {
        margin-left: 0px;
        width: 100%;
        max-width: 280px;
    }
}