@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="cam-title mrg-r344">
    <span>
        Acceso Denegado
    </span>
</h1>
<div class="row">
    <div class="col-xs-8">
        <div>
            <p>No está autorizado a acceder a esta funcionalidad.</p>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>
