
@if (User.IsInRole("SuperAdmin"))
{
    <script type="text/javascript">

        $(document).ready(function () {

            LoadOperadores();

            $("#AdminOperadorID").change(function () {
                SetOperadorID();
                return false;
            });

        });

        function SetOperadorID() {
            //if ($("#AdminOperadorID").val() != "") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SetOperadorID", "Operador")',
                    dataType: 'json',
                    data: { operadorID: $("#AdminOperadorID").val() },
                    success: function () {
                        window.location.reload(true);
                    },
                    error: function (ex) {
                        alert('Hubo un error al seleccionar Operador.' + ex);
                    }
                });
            //}
        }

        function LoadOperadores() {
            $("#AdminOperadorID").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAllOperadores", "Operador")',
                dataType: 'json',
                data: { forSelector: true },
                success: function (operadores) {
                    $("#AdminOperadorID").append('<option value="">Seleccionar un Operador</option>');
                    $.each(operadores, function (i, operador) {
                        var selected = (operador.Selected) ? 'Selected' : '';
                        $("#AdminOperadorID").append('<option value="' + operador.OperadorID + '" ' + selected + '>' + operador.Nombre + '</option>');
                    });
                },
                error: function (ex) {
                    console.log(ex);
                    alert('Hubo un error al obtener Operadores.' + ex);
                }
            });
        }
    </script>
        <select id="AdminOperadorID" class="chosen-select input-md form-control width-100p"></select>
}   
else
{
        <h4 class="operatorname" align="center">@ViewHelper.GetCurrentOperadorName()</h4>
}
