<connectionStrings>
	<!--<add name="DefaultConnection" connectionString="Data Source=173.208.226.134;Initial Catalog=SistemaVTDesa;User ID=bugsAdmin;Password=Bacacay2299!" providerName="System.Data.SqlClient" />-->
	<!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=SistemaVTDesa;Integrated Security=true;" providerName="System.Data.SqlClient" />-->
	<!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=Bugs-Production;Integrated Security=true;MultipleActiveResultSets=true;Connection Timeout=1000" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=Bugs-Production;User ID=bugs-production;password=Bacacay2299!;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
</connectionStrings>
