<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="IP" value="127.0.0.1" />
	<add key="Puerto" value="13000" />
	<!-- El tiempo de reintento funciona de la siguiente forma (IntentoNumero * TiempoIntento) 
	lo que permite aumentar el limite a la cantidad deseada
	
		ejemplo: 
		1er intento 30 segundos
		2do intento 60 segundos
		3er intento 90 segundos
		4to intento 120 segundos
		5to intento 150 segundos
		
	Si se desea que cada intento sea de 30 segundos, se debe cambiar el valor de IsTiempoLineal a true
		ejemplo:
		1er intento 30 segundos
		2do intento 30 segundos
		3er intento 30 segundos
		4to intento 30 segundos
		5to intento 30 segundos
	-->
	<add key="TiempoIntentoSegundos" value="5" />
	<add key="LimiteReintentos" value="3"/>
	<add key="IsTiempoLineal" value="false"/>
	<!-- Versión de la aplicación -->
	<add key="PagosMixtos:Modo" value="ON" />
	<add key="Ambiente:Desarrollo" value="OFF" />
	<add key="Ambiente:Simuladores" value="ON" />
	<add key="AppVersion" value="1.1.4" />
</appSettings>
