<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	
	<!-- MERCADO PAGO-->
    <!-- <add key="ClientIDMercadoPago" value="8794626155177834" />
    <add key="ClientSecretMercadoPago" value="2PSNjmVqvudjFsBdc1GoAmctHIKNjcip" /> -->
    <add key="ClientIDMercadoPago" value="7182145689730765" />
    <add key="ClientSecretMercadoPago" value="SnbaC4EYDQwlQRviicgvYTOqdRE5Hnke" />
    <add key="Ambiente" value="TEST" />
    <!-- FIN MERCADO PAGO-->
	
	  <add key="IP" value="127.0.0.1" />
	  <add key="Puerto" value="13000" />
	  <add key="TiempoIntento1" value="30" />
	  <add key="TiempoIntento2" value="30" />
  </appSettings>