@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Pagos Externos
</h3>

<div class="panel panel-default col-4">
    <div class="panel-body">
        <p>Los datos se actualizaron correctamente</p>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Volver", "Configure", "MercadoPago", null, new { @class = "btn btn-default" })
    </div>
}
