@model BugsMVC.Models.ModeloTerminal
@using BugsMVC.Helpers

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Detalles
    <small>Detalles del modelo de la terminal seleccionada.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading">Modelo de Terminal</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Modelo)
            </dd>

        </dl>
    </div>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", "ModeloTerminal", new { id = Model.ModeloTerminalID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Volver", "Index", "ModeloTerminal", null, new { @class = "btn btn-default" })
</p>
