@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Sistema VT</h1>
    <p class="lead">Administrador de terminales Vending</p>
</div>

@* Gráficos! *@
@*<div class="col-lg-8">
    <!-- START bar chart-->
    <div id="panelChart3" class="panel">
        <div class="panel-heading">
            <!-- START button group-->
            <div class="pull-right btn-group">
                <button type="button" data-toggle="dropdown" class="dropdown-toggle btn btn-default btn-sm">Monthly</button>
                <ul role="menu" class="dropdown-menu fadeInLeft animated">
                    <li>
                        <a href="#">Diarios</a>
                    </li>
                    <li>
                        <a href="#">Mensuales</a>
                    </li>
                    <li>
                        <a href="#">Anuales</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
            <div class="panel-title">Consumos </div>
        </div>
        <div collapse="panelChart3" class="panel-wrapper">
            <div class="panel-body">
                <div class="indicator show">
                    <span class="spinner"></span>
                </div>
                <div class="chart-bar-stackedv2 flot-chart"></div>
            </div>
        </div>
    </div>

    <!-- START loader widget-->
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="#" class="text-muted pull-right">
                <em class="fa fa-arrow-right"></em>
            </a>
            <div class="text-info">Máquinas Funcionando</div>
            <canvas data-classyloader="" data-percentage="70" data-speed="20" data-font-size="40px" data-diameter="70" data-line-color="#23b7e5" data-remaining-line-color="rgba(200,200,200,0.4)" data-line-width="10" data-rounded-line="true"
                    class="center-block"></canvas>
            <div data-sparkline="" data-bar-color="#23b7e5" data-height="30" data-bar-width="5" data-bar-spacing="2" data-values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7" class="text-center"></div>
        </div>
        <div class="panel-footer">
            <p class="text-muted">
                <em class="fa fa-upload fa-fw"></em>
                <span class="text-dark">5 Fallaron este mes</span>
            </p>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- START widget-->
        <div class="panel widget">
            <div class="panel-body">
                <div class="clearfix">
                    <p class="pull-left text-muted mt0">Máquinas falladas por día</p>
                    @*<em class="pull-right text-muted fa fa-coffee fa-2x"></em>*@
                @*</div>
    <div data-sparkline="" data-type="line" data-height="80" data-width="100%" data-line-width="2" data-line-color="#7266ba" data-spot-color="#888" data-min-spot-color="#7266ba" data-max-spot-color="#7266ba" data-fill-color="" data-highlight-line-color="#fff"
         data-spot-radius="3" data-values="1,3,4,7,5,9,4,4,7,5,9,6,4" data-resize="true" class="pv-lg"></div>
    <p>
        <small class="text-muted">Progreso Actual</small>
    </p>
    <div class="progress progress-xs">
        @* Cambiar esto para actualizar el progreso style="width: 80%" *@
                    @*<div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%" class="progress-bar progress-bar-info progress-bar-striped">
                            <span class="sr-only">80% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END widget-->
        </div>
    </div>*@


@section Scripts {
    @Scripts.Render("~/bundles/sparklines")
    @Scripts.Render("~/bundles/flot")
    @Scripts.Render("~/bundles/classyloader")
    @*@Scripts.Render("~/bundles/demoFlot")*@
    @*<script>
        (function (window, document, $, undefined) {

        $(function () {

            $.ajax({
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                url: '/Home/GetTestData/',
                error: function () {
                    alert("An error occurred.");
                },
                success: function (data) {
                    var datav2 = [data];

                    var options = {
                        series: {
                            stack: true,
                            bars: {
                                align: 'center',
                                lineWidth: 0,
                                show: true,
                                barWidth: 0.6,
                                fill: 0.9
                            }
                        },
                        grid: {
                            borderColor: '#eee',
                            borderWidth: 1,
                            hoverable: true,
                            backgroundColor: '#fcfcfc'
                        },
                        tooltip: true,
                        tooltipOpts: {
                            content: function (label, x, y) { return x + ' : ' + y; }
                        },
                        xaxis: {
                            tickColor: '#fcfcfc',
                            mode: 'categories'
                        },
                        yaxis: {
                            // position: 'right' or 'left'
                            tickColor: '#eee'
                        },
                        shadowSize: 0
                    };

                    //var chart = $('.chart-bar-stacked');
                    //if (chart.length)
                    //    $.plot(chart, data, options);

                    var chartv2 = $('.chart-bar-stackedv2');
                    if (chartv2.length) {
                        $.plot(chartv2, datav2, options);
                    }
                }
            });

            var datav2 = [{
                "label": "Pending",
                "color": "#9289ca",
                "data": [
                  ["Pj1", 86],
                  ["Pj2", 136],
                  ["Pj3", 97],
                  ["Pj4", 110],
                  ["Pj5", 62],
                  ["Pj6", 85],
                  ["Pj7", 115],
                  ["Pj8", 78],
                  ["Pj9", 104],
                  ["Pj10", 82],
                  ["Pj11", 97],
                  ["Pj12", 110],
                  ["Pj13", 62]
                ]
            }, {
                "label": "Assigned",
                "color": "#7266ba",
                "data": [
                  ["Pj1", 49],
                  ["Pj2", 81],
                  ["Pj3", 47],
                  ["Pj4", 44],
                  ["Pj5", 100],
                  ["Pj6", 49],
                  ["Pj7", 94],
                  ["Pj8", 44],
                  ["Pj9", 52],
                  ["Pj10", 17],
                  ["Pj11", 47],
                  ["Pj12", 44],
                  ["Pj13", 100]
                ]
            }, {
                "label": "Completed",
                "color": "#564aa3",
                "data": [
                  ["Pj1", 29],
                  ["Pj2", 56],
                  ["Pj3", 14],
                  ["Pj4", 21],
                  ["Pj5", 5],
                  ["Pj6", 24],
                  ["Pj7", 37],
                  ["Pj8", 22],
                  ["Pj9", 28],
                  ["Pj10", 9],
                  ["Pj11", 14],
                  ["Pj12", 21],
                  ["Pj13", 5]
                ]
            }];
        });

        })(window, document, window.jQuery);
    </script>*@
}

